---
title: 关于
permalink: /about/
---

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <title>{{ page.title }} - {{ site.name }}</title>    
</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            {% include header.html %}
            <div class="post-content">
                个人技术博客
                <br><br>
                Feeds:
                <ul>
                    <li><a href="https://yanhang.me/microblog-feed.xml">微博</a></li>
                    <li><a href="https://yanhang.me/feed.xml">文章</a></li>
                </ul>
                <br>
                Friends:
                <ul>
                    <li><a href="https://www.letiantian.me"> 乐天笔记</a></li>
                    <li><a href="http://fuzhii.com/"> 兔之</a></li>
                </ul>
                <br>
                Others:
                <ul>
                    <li><a href="http://www.yinwang.org">当然我在扯淡</a></li>
                    <li><a href="https://sabrinaluo.github.io/tech/">小白妹妹写代码</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include cnzz.html %}
</body>

</html>
