---
title: 微博
permalink: /microblog/ 
---
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page.title }} - {{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css" />
    <meta name="theme-color" content="#151515"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.fav }}?">        
    <meta charset="utf-8"/>        
</head>

<body>
    <div class="content-wrap">
        {% include header.html %}
        <div class="content-main">
            <div class="post-list">
                <section class="microblog-posts">
                    {% for post in site.microblog reversed %}
                      <div class="microblog-post">
                        <i>{{ post.content }}</i>
                        <br> 
                        <footer class="microblog-post__footer">
                            <small><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ post.url }}" title="Permalink to Microblog post">{{ post.date | date: "%a, %b %d, %Y at %I:%M%P" }}</a></time></small>
                        </footer>
                      </div>
                      <hr>
                      <br>
                    {% endfor %}
                  </section>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include cnzz.html %}
</body>

</html>