---
title: 相册
permalink: /photos/
---

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <title>{{ page.title }} - {{ site.name }}</title>    
</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            {% include header.html %}
            <div class="post-content">
                <ul>
                {% comment %}
                    Get all "photo_set" pages and display a list with links to them.
                {% endcomment %}
                {% assign photo_pages = site.posts | where: "layout", "photo_set" %}
                {% for photo_page in photo_pages %}
                    <li>
                    <a href="{{ photo_page.url | prepend: site.baseurl }}">{{ photo_page.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include cnzz.html %}
</body>

</html>
