<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="theme-color" content="#151515" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css"> {% if page.favicon %}
    <link rel="icon" href={{page.favicon}}> {% else %}
    <link rel="icon" href=/assets/img/fav/favicon.png> {% endif %}

</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            <div class="header">
                <div class="nav-home">
                    <a href="/">
                        <span>{{ site.name }}</span>
                        <img src="{{ site.logo }}" />
                    </a>
                </div>
                <br />
                <br />
                <span class="post-title"><center>{{ page.title }}</center></span>
            </div>
            <div class="post-content">
                <div> {{ content }} </div>
            </div>
        </div>
    </div>
    {% if page.comments %} 
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.url | absolute_url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-yanhang-me.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
    {% endif %}
    
    {% include footer.html %} 
    {% include cnzz.html %}
</body>

</html>
